CI_ENV=development
BASE_URL=http://localhost/

DB_HOST=localhost
DB_USER=root
DB_PASS=password
DB_NAME=database

URL_API=http://localhost/
PATH_API=./../himalaya-api

ONESIGNAL_URL=https://onesignal.com/api/v1/notifications
ONESIGNAL_URL_TO=http://localhost:5555/
ONESIGNAL_APP_ID=app_id
ONESIGNAL_REST_API_KEY=api_key

API_ONESIGNAL_APP_ID=app_id
API_ONESIGNAL_REST_API_KEY=api_key

WA_ZAWA_URL=https://api-zawa.azickri.com/message
WA_ZAWA_ID=
WA_ZAWA_SESSION_ID=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_CRYPTO=
SMTP_CC=