# Add any directories, files, or patterns you don't want to be tracked by version control
/.idea/workspace.xml
/.idea/libraries
/application/config/database.php
application/config/database.php
*.database.php
upload
.gradle
.apk
.DS_Store
.DS_Store
.idea
.settings
.gradle
*.iml
*.apk
*.iml
*.classpath
*.project
*.prefs
*.log
*.db
*.lic
*.pdf