/vendor
/uploads/*
/application/logs/*
/application/cache/sessions/*
/application/config/config.php
/application/config/database.php
/application/config/onesignal.php
/application/config/wa_zawa.php
/application/config/email.php
application/config/email.php
/composer.lock
/scripts/*.log
