body {
    min-height: 100vh;
}

body div.content-wrapper {
    min-height: 83.9vh;
}

section.content div div div.box-table {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    width: 100%;
    margin-bottom: 0px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    min-height: 72vh;
}

/* button grid*/
div.action-grid-toolbar a {
    margin: 5px 5px 5px 20px;
}

/*select 2*/

.select2 {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    padding: 6px 6px !important;
}

/* jquery validation */
div.form-group {
    margin-bottom: unset;
    min-height: 78px;
}
div.form-group > label.error {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: unset!important;
    color: #d50000;
    padding-left: 20px;
    font-weight: unset !important;
}

div.form-group textarea {
    margin-bottom: 11px;
}

.skin-blue .main-header .logo {
    background-color: #234f76!important;
}

.skin-blue .main-header .navbar{
    background-color: #234f76;
    background-image: url("../../../images/header_blend_0.png") !important;
    background-position: 100% 150%;
    background-size: 96.5% 100%;
    background-repeat: no-repeat;
}

.main-footer{
    background-color: #234f76;
    background-image: url("../../../images/footer_blend_0.png") !important;
    background-repeat: no-repeat;
    background-size: auto;
}

.login-banner {

    content:url(../../../images/login_riset_background.png);

    /*background-image: url("../../../images/login_riset_background.png") !important;*/
    /*background-position: 100% 100%;*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
}

div.form-group-login {
    min-height: 60px!important;
}

.login-box, .register-box {
    width: 360px;
    margin: 0% auto;!important;
}

.login-page, .register-page {
    background: #214E77;!important;
}

.table-light tbody+tbody, .table-light td, .table-light th, .table-light thead th {
    border-color: #343a40;!important;
}


