
@media only screen and (max-width: 320px) {

    body {
        font-size: 2em !important;
    }

    #title-rdg {
        font-size: 7px;
    }

    .table-condensed {
        font-size: 7px;
    }

}

@media only screen and (max-width: 767px) {

    #title-rdg {
        font-size: 23px;
    }

    .table-condensed {
        font-size: 7px;
    }

    .form-control {
        font-size: 7px;
    }

}

.button-group-list {
    margin-top: 20px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#legend li {
  list-style-type: none;
}

#legend .label {
  margin-left: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 14px;
}

.legendValue {
  float: left;
  height: 25px;  
  text-align: left;
}

.legend {
  text-align: left;
}

#legend .clear {
  clear: both
}
.main-container {
  height: 100%; /* or position:absolute; height:100%; */
  display: flex;
  flex-direction: column;
}

/* an arbitrary container of fixed height */
.fixed-container {
  height: 80px;
  padding: 15px 30px;
}
.fixed-container img {
  width: 280px; 
  height: 45px;
}
/* this is the flex container that will take the rest of the height */
.content-wrapper {
  display: flex;
  flex: 1;
  min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
}

/* the container for our overflowed content */
.overflow-container {
  flex: 1;
  overflow: auto;
}

/* the overflow content itself */
.overflow-content {
  height: 100%;
  color: black;
  background-color: #ddd;
  padding: 20px;
}
.navbar {
    height: 80px;
}
.bg-primary {
    background: linear-gradient(120deg, #556cdc, #128bfc, #18bef1);
    color: #fff;
}
.text-shadow {
    text-shadow: 0px 0px 5px #3c3c3c;
}
.socials a:hover {
    color: orange;
    transition: 300ms;
}
.p-100 {
    padding: 10% 0;
}
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    right: 15px;
    bottom: 15px;
    font-size: 20px;
    line-height: 33px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}
.pilihan {
    padding-left: 20px;
}
/* The checkbox */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #FFF;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/*.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
*/
/* When the radio button is checked, add a blue background */
/*.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}*/

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox .checkmark:after {
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #007bff;
}
.ask-list {
  text-align: left;
  font-size: 1rem;
}
.ask-list .checkbox {
  font-size: 1rem;
}
.ask-list .list-group {
  display: flex;
  margin-bottom: 15px;
  flex-direction: row;
}
.ask-list .list-group .nomor {
  margin-right: 5px;
} 
footer {
    background: #fff;
    color: #004085;
    height: 80px;
    padding-top: 30PX;

}
/*--------------------------------------------------------------
#   A N I M A T I O N S
--------------------------------------------------------------*/
.butwa {
  animation: butwa 300ms linear;
}
@keyframes butwa{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
    1% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
.btn-start {
  outline: none;
  padding: 10px 38px;
  margin: 20px;
  background: transparent;
  border: 2px solid #FFF;
  font-family: 'lato', sans-serif;
  font-weight: 700;
  border-radius: 22px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}
.btn-start:hover {
  color :#193783;
}
.btn-start i {
    padding-left: 8px;
}
.home-input {

    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-input input {
    width: 50%;
    border-radius: 20px;
    height: 50px;
    font-weight: 500;
}

/*animation text*/

body {
  font-size: 62.5%;
  font-style: Arial;
}

.animation-box {
  width: 75%;
  height: 27.5rem;
  background-color: blue;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes topFadeOut {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
}

@keyframes bottomFadeOut {
  0% {
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
  
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.first-text {
  font-size: 3rem;
  opacity: 1;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: white;
}

.second-text {
  font-size: 2rem;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 3s;
  /*animation-duration: 6s;*/
  color: #ccc;
}

.third-text {
  transform: rotate(-90deg);
  font-size: 2rem;
  position: absolute;
  left: 45%;
  top: 45%;
  opacity: 0;
  animation-name: topFadeOutVertical;
  animation-delay: 7.5s;
  animation-duration: 6s;
  color: #A3DDF0;
  white-space: nowrap;
}

.fourth-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeInOut;
  animation-delay: 8.5s;
  animation-duration: 9s;
}
ul li {
    list-style-type: none;
    margin-top: 30px;
}
.btn-sucess {
    outline: none;
    padding: 10px 50px;
    margin: 20px;
    background: #19d895;
    border: none;
    font-family: 'lato', sans-serif;
    font-weight: 700;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}
.btn-view {
  background: #ffb200ed;
  padding: 10px 20px;
  border: none;
  font-family: 'lato', sans-serif;
  font-weight: 700;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
}
.ml-0 {
  margin-left: 0px;
}
.p-0 {
  padding-left: 0;
}

#chart {
  width: 650px;
  height: 300px;
  margin: 30px auto 0;
  display: block;
}
 #numbers {
  width: 50px; 
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}    
#chart #numbers  li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 20px;
  border-bottom: 1px solid #444;
  position: relative;
  bottom: 49px;
 }     
/*#chart #numbers  li:last-child {
    height: 30px;
}*/
      
 #chart #numbers span {
    color: #eee;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  
  #bars {
    display: inline-block;
    background: rgba(0,0,0,0.2);
    width: 600px;
    height: 300px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 1px #444;
 }
  #bars li {
    display: table-cell;
    width: 100px;
    height: 300px;
    margin: 0;
    text-align: center;
    position: relative;
  }    
  .bar {
    display: block;
    width: 70px;
    margin-left: 15px;
    background: #49E;
    position: absolute;
    bottom: 0;
        
  } 
  .bar:hover {
    background: #5AE;
    cursor: pointer;
    }       
  .bar:before {
    color: white;
    content: attr(data-percentage);
    position:relative;
    bottom: 20px;
  }
     
  .bar span {
    color: #eee;
    width: 100%;
    position: absolute;
    bottom: -2em;
    left: 0;
    text-align: center;
  }
  #chart #bars li span {
    color: #eee;
    width: 100%;
    position: absolute;
    bottom: -2em;
    left: 0;
    text-align: center;
}
.chart-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #FFF;
  padding: 20px;
}
.table-container {
  background: #FFF;
  padding: 30px;
}
.table-container table {
  width: 100%;
}
.middle {
  vertical-align: middle !important;
}
#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
   background: linear-gradient(to left, #00c6ff , #0072ff);
  z-index: 99;
}
.cube-folding {
  width: 50px;
  height: 50px;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 0;
}
.cube-folding span {
  position: relative;
  width: 25px;
  height: 25px;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  display: inline-block;
}
.cube-folding span::before {
  content: '';
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 25px;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -moz-animation: folding 2.5s infinite linear both;
  -webkit-animation: folding 2.5s infinite linear both;
  animation: folding 2.5s infinite linear both;
}
.cube-folding .leaf2 {
  -moz-transform: rotateZ(90deg) scale(1.1);
  -ms-transform: rotateZ(90deg) scale(1.1);
  -webkit-transform: rotateZ(90deg) scale(1.1);
  transform: rotateZ(90deg) scale(1.1);
}
.cube-folding .leaf2::before {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background-color: #f2f2f2;
}
.cube-folding .leaf3 {
  -moz-transform: rotateZ(270deg) scale(1.1);
  -ms-transform: rotateZ(270deg) scale(1.1);
  -webkit-transform: rotateZ(270deg) scale(1.1);
  transform: rotateZ(270deg) scale(1.1);
}
.cube-folding .leaf3::before {
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  background-color: #f2f2f2;
}
.cube-folding .leaf4 {
  -moz-transform: rotateZ(180deg) scale(1.1);
  -ms-transform: rotateZ(180deg) scale(1.1);
  -webkit-transform: rotateZ(180deg) scale(1.1);
  transform: rotateZ(180deg) scale(1.1);
}
.cube-folding .leaf4::before {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  background-color: #e6e6e6;
}

@-moz-keyframes folding {
  0%, 10% {
    -moz-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -moz-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -moz-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes folding {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes folding {
  0%, 10% {
    -moz-transform: perspective(140px) rotateX(-180deg);
    -ms-transform: perspective(140px) rotateX(-180deg);
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -moz-transform: perspective(140px) rotateX(0deg);
    -ms-transform: perspective(140px) rotateX(0deg);
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -moz-transform: perspective(140px) rotateY(180deg);
    -ms-transform: perspective(140px) rotateY(180deg);
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
.cube-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  text-align: center;
}
.cube-wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  width: 90px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  z-index: 1;
  -moz-animation: shadow 0.5s ease infinite alternate;
  -webkit-animation: shadow 0.5s ease infinite alternate;
  animation: shadow 0.5s ease infinite alternate;
}
.cube-wrapper .loading {
  font-size: 12px;
  letter-spacing: 0.1em;
  display: block;
  color: white;
  position: relative;
  top: 25px;
  z-index: 9999;
  -moz-animation: text 0.5s ease infinite alternate;
  -webkit-animation: text 0.5s ease infinite alternate;
  animation: text 0.5s ease infinite alternate;
}

@-moz-keyframes text {
  100% {
    top: 35px;
  }
}
@-webkit-keyframes text {
  100% {
    top: 35px;
  }
}
@keyframes text {
  100% {
    top: 35px;
  }
}
@-moz-keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}
@-webkit-keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}
@keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}

#review-list{
    padding-inline-start: 0px!important;
}